* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, rgba(3, 0, 17, 1) 0%, rgba(65, 6, 164, 1) 44%, rgba(22, 130, 190, 1) 55%);
    background-image: url(../images/movie.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 90%;
}

.container {

    max-width: 1550px;
    margin: auto;
}

.navbar {

    margin: 15px;
    padding: 10px;
    justify-content: space-between;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    padding-left: 25px;
    margin-left: 15px;
}

.menu {
    display: flex;
    text-align: right;
}

.menu ul {
    display: inline-block;
    list-style-type: none;
}

.menu ul li {
    display: inline-block;
    margin-right: 30px;
}

.a1 {
    font-weight: 550;
}

.a2 {
    font-size: x-large;
    font-weight: 900;
    color: orangered;
}

a {
    text-decoration: none;
}

.button {
    display: inline-block;
    color: #fff;
    background-color: blue;
    padding: 10px 30px;
    border-radius: 30px;
    transition: background 0.5s;

}

.button:hover {
    background: aqua;
}

.webtick {
    position: relative;
    color: rgb(155, 76, 54);
}

span {
    font-size: xx-large;
    font-weight: 700;
    color: rgb(0, 38, 255);

}

.sp1 {
    font-size: xx-large;
    font-weight: 700;
    color: orangered;
}

.sp2 {
    font-size: xx-large;
    font-weight: 700;
    color: rgb(15, 11, 255);

}

.orders {
    display: flex;
    padding: 50px;
    margin: 50px;
    justify-content: space-evenly;
    /* align-items: center;
    width: 300px; */
}


p {
    margin-top: 30px;
    color: #fff;
    font-size: medium;
    font-weight: 500;
}

.ticket-1 {
    background-color: rgb(255, 136, 0);
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 20px;
    transition: transform 0.5s;
    border-radius: 8px;
    background-image: url(../images/movie-1.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.ticket-1:hover {
    transform: scale(1.2);
    -webki-transform: scale(0.2);
    -ms-transform: scale(1.2);
}

.ticket-2 {
    background-color: rgb(43, 0, 255);
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 20px;
    transition: transform 0.5s;
    border-radius: 8px;
}

.ticket-2:hover {
    transform: scale(1.2);
    -webki-transform: scale(0.2);
    -ms-transform: scale(1.2);
}

.ticket-3 {
    background-color: rgb(0, 1, 34);
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 20px;
    transition: transform 0.5s;
    border-radius: 8px;
}

.ticket-3:hover {
    transform: scale(1.2);
    -webki-transform: scale(0.2);
    -ms-transform: scale(1.2);
}

.disc {
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin: 50px;
}



/* THIS IS WHERE WE STYLE MEDIA QUERY */


@media only screen and (max-width:700px) {
    menu ul {
        width: 100%;
        background-image: url(../images/movie.jpg);

        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }

    menu ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

}